<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <title>blog.lizconlan.com</title>
    <base href="sandbox" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen, projector"  />
    <link href="http://lizconlan.github.com/feed.rss" rel="alternate" type="application/rss+xml" title="blog.lizconlan.com" />
  </head>
  <body>
    <header>
      <div id="header">
        <h1><a href="http://lizconlan.com">lizconlan.com</a></h1>
        <nav>
          <ul>
            <li>
              <a class="current" href="/">blog</a>
            </li>
            <li>
              <a href="http://blog.lizconlan.com/sandbox/">sandbox</a>
            </li>
            <li>
              <a href="https://github.com/lizconlan">code</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main">
      <article id="index">
        {{ content }}
      </article>
      <footer>
        &copy 2011 - {{ site.time | date: "%Y" }} Liz Conlan
      </footer>
    </div>
  </body>
</html>
